/* fix rtl for demo */
.chosen-rtl .chosen-drop { left: -9000px; }

body {
    font-family: "Roboto" !important;}

#top,
#calendar.fc-unthemed {
}

.no-margin {
    margin: 0;
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}

#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit; /* mock what Boostrap does, don't compete  */
}

.left { float: left }
.right { float: right }
.clear { clear: both }

#calendar span.label {margin-top:5px; display:inline-block;}

#calendar {
}


#calendar .passe {transition:opacity 0.3s; background-color:#888888; border:1px solid #6D6D6D; opacity:0.6;}
#calendar .passe:hover {opacity:1;}
#calendar .encours {background-color:#B49000; border:1px solid #9A7B00;}
#calendar .td-cm {background-color:#32A231; border:1px solid #257D24;}
#calendar .tp {background-color:#2B5B85; border:1px solid #224C6D;}
#calendar .eval {background-color:#C52652; border:1px solid #991E40;}
#calendar .cm-anglais {background-color:#F5EA33; border:1px solid #FFC503;}

#calendar .fc-content {padding:5px;}
#calendar .fc-event .fc-time {font-weight:bold; margin-bottom:5px;}

.tooltipevent {background-color:red;}

input[type="text"] #datepicker {
    height: 30px !important;
    margin-bottom: 0px!important;
    width: 100px !important;
}
select,input {
    width: unset !important;
}

/** Utility class */
.floatLeft {
    float: left!important;
}

.no-float{
    float: none !important;
}

.floatRight {
    float: right!important;
}

.no-paddingTop {
    padding-top: 0 !important;
}

.no-paddingBottom {
    padding-bottom: 0 !important;
}

.padding0 {
    padding: 0 !important;
}

.padding5 {
    padding: 5px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding12 {
    padding: 12px !important;
}

.padding18 {
    padding: 18px !important;
}

.paddingLeft2 {
    padding-left: 2px !important;
}

.paddingLeft5 {
    padding-left: 5px !important;
}

.paddingLeft10 {
    padding-left: 10px !important;
}

.paddingLeft15 {
    padding-left: 15px !important;
}

.paddingLeft20 {
    padding-left: 20px !important;
}
.paddingLeft27 {
    padding-left: 27px !important;
}
.paddingLeft30 {
    padding-left: 30px !important;
}

.paddingLeft40 {
    padding-left: 40px !important;
}
.paddingLeft42 {
    padding-left: 42px !important;
}

.paddingRight0 {
    padding-right: 0px !important;
}

.paddingRight5 {
    padding-right: 5px !important;
}

.paddingRight10 {
    padding-right: 10px !important;
}

.paddingRight20 {
    padding-right: 20px !important;
}

.paddingRight30 {
    padding-right: 30px !important;
}

.paddingRight40 {
    padding-right: 40px !important;
}

.paddingRight42 {
    padding-right: 42px !important;
}
.paddingTop20 {
    padding-top: 20px !important;
}

.paddingTop5 {
    padding-top: 5px !important;
}

.paddingTop10 {
    padding-top: 10px !important;
}

.paddingTop15 {
    padding-top: 15px !important;
}

.paddingTop25 {
    padding-top: 25px !important;
}

.paddingBottom40 {
    padding-bottom: 40px !important;
}

.paddingBottom5 {
    padding-bottom: 5px !important;
}

.paddingBottom10 {
    padding-bottom: 10px !important;
}

.paddingBottom15 {
    padding-bottom: 15px !important;
}

.paddingBottom20 {
    padding-bottom: 20px !important;
}

.margin0 {
    margin: 0 !important;
}

.marginLeft2 {
    margin-left: 2px !important;
}

.marginLeft5 {
    margin-left: 5px !important;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.marginLeft20 {
    margin-left: 20px !important;
}

.marginLeft30 {
    margin-left: 30px !important;
}

.marginLeft300 {
    margin-left: 300px !important;
}

.marginTop5 {
    margin-top: 5px !important;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop20 {
    margin-top: 20px !important;
}

.marginTop25 {
    margin-top: 25px !important;
}

.marginTop30 {
    margin-top: 30px !important;
}

.marginTop60 {
    margin-top: 60px !important;
}

.marginRight60 {
    margin-right: 60px !important;
}

.marginRight10 {
    margin-right: 10px !important;
}

.marginRight20 {
    margin-right: 20px !important;
}

.marginRight5 {
    margin-right: 5px !important;
}

.marginRight2 {
    margin-right: 2px !important;
}

.marginBottom2 {
    margin-bottom: 2px !important;
}

.marginBottom5 {
    margin-bottom: 5px !important;
}

.marginBottom10 {
    margin-bottom: 10px !important;
}

.fontSize12 {
    font-size: 12px !important;
}

.fontSize13 {
    font-size: 13px !important;
}

.fontSize16 {
    font-size: 16px !important;
}

.positionRelative {
    position: relative !important;
}

.positionAbsolute {
    position: absolute !important;
}

.verticalAlignMiddle {
    vertical-align: middle !important;
}

.verticalAlignBottom {
    vertical-align: bottom !important;
}

.verticalAlignTop {
    vertical-align: top !important;
}

.verticalAlignSuper {
    vertical-align: super !important;
}

.colorRed {
    color: #ed5565 !important;
}

.colorOrange {
    color: #CE8735 !important;
}

.colorGreen {
    color: #199d82 !important;
}

.autoSizeInput {
    resize: horizontal !important;
    width: 100% !important;
}

.colorBlueIcon {
    color:#337AB7 !important;
}

.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
    background-color: #337AB7 !important;
    border-color: #337AB7 !important;
}

.reordered {
    color:#337AB7 !important;
}

.nowNewColumn{
    background-color: #d1dff5;
}

.fontSize11 {
    font-size: 11px !important;
}

.autoSpace {
    white-space: normal;!important;
}
.textInitial {
    text-transform: initial;!important;
}


.labelCenterVertical {
    height: 24px; !important;
    line-height: 19px; !important;
}


.panelVerticalGris {
    border-right: 2px solid #e7eaec;
}
/*.drag_drop:after {*/
/*content: "\f047";*/
/*font-family: FontAwesome;*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*!*margin:0px 0px 0px 70px;*!*/
/*text-decoration:none;*/
/*float: right;*/
/*}*/

.colorStep1 {
    color: #8DD0E9 !important;
}

.colorStep2 {
    color: #6CC2F3 !important;
}

.colorStep3 {
    color:#2588DC !important;
}

.colorStep4 {
    color: #529AF3 !important;
}

.colorStep5 {
    color: #2269E9 !important;
}

.note-popover.popover.in.note-hint-popover {
    z-index: 99999!important;
}
.dropdown-menu.note-check.dropdown-categories {
    height: 150px;
    overflow-y: scroll;
}

.green-bg {
    background-color: #8DD0E9 !important;
}

.top-navigation .navbar-brand {
    background: #C10019!important;
}
.ibox-title {
    border-top-color: #C10019!important;
}
@media (min-width: 900px) {
    .modal-xlg {
        width: 1200px !important;
    }
}

table.treetable thead tr th,
table.treetable tbody tr td {
    font-weight: normal!important;
    padding: 8px!important;
    font-size: 13px!important;
}

.center-text {
    text-align: center!important;
}

table#tableWorkProgress tr.leaf td {
    cursor: move!important;
}

label.required:after {
    display: inline-block;
    color: red;
    content: '\a0*';
}

label.ui-not-null:after {
    content: " *";
    margin-right: 5px;
    color: red;
}
.borderColorWhite {
    border-color: white!important;
}
.borderColorDark {
    border-color: #2F4050!important;
}
.borderColorMuted {
    border-color: #888888!important;
}
.borderColorGray {
    border-color: #C2C2C3!important;
}
.borderColorBlueGray {
    border-color: #607D8B!important;
}
.borderColorDanger {
    border-color: #ed5565!important;
}
.borderColorLogo {
    border-color: #C10019!important;
}
.border-avatar {
    border: 12px dashed #ccc;
}



/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
    background:url(../images/body-border.png) repeat-x 0px 0px #EFEFEF;
    font-family: 'Open Sans', sans-serif;
}
/*---start-wrap----*/
.wrap{
    width:80%;
    margin:5em auto;
}
/*---start-content----*/
.left-content{
    float: left;
    width: 61%;
    margin-right: 1em;
}
.status-grid{
    background: #FFF;
    position: relative;
    min-height: 307px;
}
.status-people-pic{
    position: absolute;
    top: 23%;
    left: 32%;
}
.stat-people{
    background: #FAFAFA;
    padding: 7px;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    position: relative;
    display: block;
}
.status-people-pic h2,.status-people-pic span,.status-people-pic p{
    text-align:center;
}
.status-people-pic h2{
    color: #565656;
    font-weight: 600;
    font-size: 1.2em;
    /*margin: 0.5em 0 0;*/
}
.status-people-pic span{
    color: #BEBEBE;
    font-size: 0.875em;
}
.status-grid-head{
    background-size: 100% 100%;
    display: block;
    height: 127px;
    width: 100%;
    position: relative;
}
.people-avilabel{
    background: #fff;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    padding: 4px;
    position: absolute;
    top: 43%;
    right: 17%;
}
/*--status-corrent--*/
.start-left-content-colum1{
    float: left;
    width: 45%;
    margin-right: 2%;
}
.status-corrent ul li{
    display:inline-block;
    float:left;
    width:33.33%;
    text-align:center;
}
.status-corrent ul li a{
    display: block;
    color: #FFF;
    font-size: 0.82em;
    padding: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.appont{
    background:#B63C6B;
}
.appont:hover{
    background:#9B355D;
}
.client{
    background:#F13D6D;
}
.client:hover{
    background:#DC3663;
}
.report{
    background:#FE7BA3;
}
.report:hover{
    background:#E46C91;
}
.status-corrent {
    position: absolute;
    bottom: 0;
    width: 100%
}
/*---start-chat-section---*/
.chat-header{
    background: #00829C;
    padding: 0.6em 1.3em;
}
.chat-people-grid {
    margin: 0 4%;
    border-bottom: 1px solid #eee;
    padding: 2% 0;
}
.chat-header-left{
    float:left;
}
.chat-header-right{
    float:right;
}
.chat-header-left span,.chat-header-right span a.chat-setting{
    width: 28px;
    height: 28px;
    display: block;
}
.chat-header-left span{
    background:url(../images/add-chat.png) no-repeat 0px 0px;
}
.chat-header-right span a.chat-setting{
    background:url(../images/chat-setting-icon.png) no-repeat 0px 0px;
}
/*----*/
.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 34px;
    left: -78px;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 0;
    margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }
.menu ul { display: none; } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    background-color: #fff;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}
.menu ul.dropit-submenu a {
    display: block;
    font-size: 0.9em;
    line-height: 25px;
    color: #7a868e;
    padding: 0.3em 0.8em;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.menu ul.dropit-submenu a:hover {
    background:#147386;
    color: #fff;
    text-decoration: none;
}
.menu ul li a label{
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4em;
}
.user-set{
    background: url(../images/chat-setting-icons.png) no-repeat -66px 0px;
}
.user-pro{
    background:url(../images/chat-setting-icons.png) no-repeat 0px 0px;
}
.user-sett{
    background: url(../images/chat-setting-icons.png) no-repeat -45px 0px;
}
.user-logout{
    background: url(../images/chat-setting-icons.png) no-repeat -23px 0px;
}
/*--//--*/
.chat-section {
    margin: 1em 0;
    background: #fff;
}
.chat-people-pic-grid{
    float:left;
    width:20%;
    margin-top: 1%;
}
.chat-people-pic-grid{
    position:relative;
}
.chat-people-pic-grid img{
    cursor:pointer;
}
.chat-people-cstatus{
    position: absolute;
    background: url(../images/chat-icons.png) no-repeat 0px 0px;
    height: 15px;
    width: 16px;
    display: inline-block;
    padding: 0px;
    top: 74%;
    right: 0;
}
.chat-people-message{
    float: left;
    width: 55%;
    padding: 3% 0 3% 4%;
}
.chat-people-message h3 a{
    color: #9095AA;
    font-size: 1.1em;
}
.chat-people-message p{
    color: #9095AA;
    font-size: 0.9em;
    padding: 0.2em 0;
    line-height: 1.5em;
}
.chat-people-message-post-date a{
    color:#9095AA;
    font-size: 0.9em;
}
.chat-people-message-post-date {
    float: right;
    padding: 8% 0% 0% 0%;
    width: 21%;
}
.chat-loder-grid{
    background: #FFF;
    text-align: center;
    padding: 0.33em 0 0em 0;
    width: 97%;
}
.chat-loder-grid span{
    width:26px;
    height:6px;
    display:inline-block;
    background:url(../images/loder.png) no-repeat 0px 0px;
}
.yellow{
    background: url(../images/chat-icons.png) no-repeat -1px -21px;
}
.green{
    background: url(../images/chat-icons.png) no-repeat -1px -40px;
}
/*----start-start-left-content-colum2----*/
.start-left-content-colum2{
    float: left;
    width: 53%;
}
.calender-left{
    float: left;
    width: 45%;
    background: url(../images/calender-wather-bg.png) no-repeat 0px 0px;
    min-height: 252.5px;
}
.calender-right{
    float: right;
    width: 55%;
}
.cal-wather h2{
    font-size: 3.5em;
    position: relative;
    font-weight: 100;
    color: #FFF;
    margin-left: 4%;
}
.cal-wather{
    position:relative;
}
.cal-wather span{
    font-size: 1em;
    vertical-align: super;
    position: absolute;
    top: 10%;
    right: 56%;
    color: #FFF;
}
.cal-wather p{
    color: #FFF;
    font-size: 0.9em;
    width: 34%;
    margin-left: 8%;
    font-weight: 600;
}
/*----*/
.upload-download-status-grids{
    background: #FFF;
    margin: 1em 0;
    padding: 1.8em 1.8em 1.5em;
}
.upload-status h4{
    color:#9095AA;
    font-size:1.2em;
    font-weight:300;
    margin-bottom: 0.3em;
}
.upload-status span{
    background:#D8D8D8;
    height:10px;
    width:100%;
    display:block;
}
.upload-status span label{
    background:#FBBE3F;
    width:30%;
    height:10px;
    display:block;
}
.upload-status p{
    color: #D8D8D8;
    font-size: 0.8em;
    margin-top: 0.2em;
}
/*--//--*/
/*----*/
.download-status h4{
    color:#9095AA;
    font-size:1.2em;
    font-weight:300;
    margin-bottom: 0.3em;
}
.download-status span{
    background:#D8D8D8;
    height:10px;
    width:100%;
    display:block;
}
.download-status span label{
    background:#F13D6C;
    width:60%;
    height:10px;
    display:block;
}
.download-status p{
    color: #D8D8D8;
    font-size: 0.875em;
    margin-top: 0.2em;
}
.upload-status {
    margin: 0 0 1em 0;
}
/*--//--*/
/*---alert-message----*/
.alert-message{

}
.success-msg,.err-msg,.stand-msg{
    background: #FFF;
    color: #9095AA;
    padding: 5px 10px;
    margin-bottom: 1em;
}
.success-msg span,.err-msg span,.stand-msg span{
    width: 41px;
    height: 41px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}
.success-msg span{
    background: url(../images/message.png) no-repeat 0px 12px;
}
.green-alert{
    background: url(../images/message.png) no-repeat 3px -49px;
}
.stand-alert{
    background: url(../images/message.png) no-repeat 3px -110px;
}
/*---//alert-message----*/
/*----start-pagenation----*/
.pagenation {
    margin: 1.5em 0 1.2em;
}
.pagenation ul li{
    float: left;
    margin-right: 0.3em;
}
.pagenation ul li a{
    color: #FFF;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 2em;
    background: #F13D6D;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    display: inline-block;
}
.pagenation ul li a:hover{
    background:#B63C6B;
}
.frist{
    width:32px;
    height:32px;
    background:url(../images/pagnation-arrows.png) no-repeat 0px 0px;
    display:inline-block;
    cursor:pointer;
}
.last{
    width: 32px;
    height: 32px;
    background: url(../images/pagnation-arrows.png) no-repeat -34px 0px;
    display:inline-block;
    cursor:pointer;
}
/*---start-search-form---*/
.search-form {
    margin-top: 1em;
}
.search-form input[type="text"]{
    width: 77%;
    background: #FFFFFF;
    color: #9095AA;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: 1px solid #E7E7E7;
    font-size: 1em;
    padding: 0.7em 1em;
    border-radius: 0.5em 0 0 0.5em;
    -webkit-border-radius: 0.5em 0 0 0.5em;
    -moz-border-radius: 0.5em 0 0 0.5em;
    -o-border-radius: 0.5em 0 0 0.5em;
    float: left;
    -webkit-appearance:none;
}
.search-form input[type="submit"]{
    background: url(../images/search-icon.png) no-repeat #F13D6D 50%;
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 0 0.5em 0.5em 0;
    -webkit--border-radius: 0 0.5em 0.5em 0;
    -moz-border-radius: 0 0.5em 0.5em 0;
    -o-border-radius: 0 0.5em 0.5em 0;
    float: left;
    margin-left: 0px;
    margin-top: 3px;
    cursor:pointer;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-appearance:none;
}
.search-form input[type="submit"]:hover{
    background: url(../images/search-icon.png) no-repeat #B63C6B 50%;
}
/*----//End-start-left-content-colum2----*/
/*----start-navigation----*/
.navigation {
    margin-top: 0.7em;
}
.navigation ul li{
    float: left;
}
.navigation ul li a{
    color: #B1DFE7;
    background:url(../images/border-line.png) no-repeat 100% 50% #00829C;
    padding: 0.9em 2.23em;
    display: block;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.navigation ul li:nth-child(1) a{
    border-radius: 0.5em 0 0 0.5em;
    -webkit-border-radius: 0.5em 0 0 0.5em;
    -moz-border-radius: 0.5em 0 0 0.5em;
    -o-border-radius: 0.5em 0 0 0.5em;
}
.navigation ul li:nth-child(6) a{
    border-radius: 0 0.5em 0.5em 0;
    -webkit--border-radius: 0 0.5em 0.5em 0;
    -moz-border-radius: 0 0.5em 0.5em 0;
    -o-border-radius: 0 0.5em 0.5em 0;
}
.navigation li> a:hover {
    background:url(../images/border-line.png) no-repeat 100% 50% #00677C;
}
.navigation li.active> a{
    background:#00677C;
}
/*----//End-navigation----*/
/*---strat-right-content----*/
.right-content{
    float: right;
    width: 37.7%;
}
/*----start-form-section----*/
.form-btn{
    float: left;
    width: 30%;
    margin-right: 1em;
    margin-top: 1em;
}
.form-btn input[type="button"]{
    padding: 0.8em 1em 0.8em 2em;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    -webkit-appearance:none;
    margin-bottom: 1.3em;
}
.download{
    background: url(../images/download-arrow.png) no-repeat #F13D6D 10% 56%;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.download:hover{
    background: url(../images/download-arrow.png) no-repeat #E63C6A 10% 60%;
}
.upload{
    background: url(../images/upload-arrow.png) no-repeat #FFBB41 20% 46%;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.upload:hover{
    background: url(../images/upload-arrow.png) no-repeat #ECAE40 20% 40%;
}
/*--form-text-box--*/
.form-text-box{
    font-family: 'Open Sans', sans-serif;
    float: right;
    width: 66%;
}
.form-text-box textarea{
    width: 89%;
    background: #F8F8F8;
    color: #9095AA;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    resize: none;
    border: 1px solid #fff;
    height: 40px;
    padding: 1em;
    font-size: 1em;
    font-weight: 100;
    -webkit-appearance:none;
}
.add-map {
    float: left;
    margin-top: 0.5em;
}
.send-post{
    float:right;
}
.map{
    float:left;
}
.add{
    float:left;
}
.map a,.add a{
    width: 20px;
    height: 22px;
    display: inline-block;
}
.map a{
    background:url(../images/post-icons.png) no-repeat 0px 0px;
}
.add a{
    background: url(../images/post-icons.png) no-repeat -30px 0px;
}
.add-map-send {
    background: #fff;
    padding: 0.2em 0.5em;
    margin-top: -5px;
}
.send-post input[type="submit"]{
    background: #00829C;
    color: #B1DFE7;
    padding: 0.3em 1em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    border-radius:0.3em;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    cursor:pointer;
    -webkit-appearance:none;
}
.send-post input[type="submit"]:hover{
    background:#0A7287;
}
.form-text-box {
    margin-top: 1.2em;
}
/*--//form-text-box--*/
/***** Social Likes **********/
.social_network_likes {
    margin: 0em 0 1em;
    text-align: center;
}
.social_network_likes li{
    float:left;
    width:25%;
}
.social_network_likes li a{
    display:block;
    color:#FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social_network_likes li a p{
    padding:15px 0;
    font-size:0.8em;
}
.social_network_likes li a span{
    display:block;
    font-size:2em;
}
.social_network_likes li a{
    border-left:2px solid #FFF;
}
.social_network_likes li a div.followers{
    border-bottom: 2px solid #FFFFFF;
}
.social_network_likes li:first-child a {
    border-left:none;
}
.social_network_likes li a.tweets{
    background:#2da5da;
}
.social_network_likes li a.tweets:hover{
    background:#1A91C5;
}
.social_network_likes li a.facebook-followers{
    background:#b6c710;
}
.social_network_likes li a.facebook-followers:hover{
    background:#9EAD0B;
}
.social_network_likes li a.email{
    background:#27c1b9;
}
.social_network_likes li a.email:hover{
    background:#0BB1A8;
}
.social_network_likes li a.dribble{
    background:#cf2555;
}
.social_network_likes li a.dribble:hover{
    background:#B3103E;
}
.social_network_likes li a div.social_network{
    padding:10px 0;
}
.social_network i{
    width:45px;
    height:45px;
    display:block;
    background:url(../images/social-icons.png) no-repeat;
    margin:0 auto;
}
.social_network i.twitter-icon{
    background-position: 0px 0px;
}
.social_network i.facebook-icon{
    background-position: -47px 0px;
}
.social_network i.email-icon{
    background-position: -104px 0px;
}
.social_network i.dribble-icon{
    background-position: -156px 0px;
}
/*----//End-form-section----*/
/* radios and checkboxes */
.row1{
    outline: none;
    padding: 0px 0px 10px 10px;
    overflow: auto;
    height: 450px;
}
/*-- start scrollpane --*/
.contentHolder { position:relative; margin:0px auto; padding:0px; width: 100%; height: 460px; overflow: hidden; }
.spacer { text-align:center }
/*-- end scrollpane --*/
/*------copy-right----*/
.copy-right {
    text-align: right;
    margin-top: 1.5em;
}
.copy-right p{
    color:#9095AA;
}
.copy-right p a{
    color:#9095AA;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
.copy-right p a:hover{
    color:#F13D6D;
}
/*---//End-content----*/
div#jquery_jplayer_1{
    height:188px ! important;
}
img#jp_poster_0{
    height:188px ! important;
}
/*---start-responsive-design----*/
@media only screen and (max-width:1440px) and (min-width:1366px) {
    .wrap {
        width:90%;
    }
}
@media only screen and (max-width:1366px) and (min-width:1280px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 64%;
        margin-right:0;
    }
    .right-content {
        width: 34.6%;
    }
    .bx-wrapper p {
        font-size: 14px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 4% 56%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 4% 56%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 15% 46%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 15% 46%;
    }
    .form-text-box textarea {
        width: 87.5%;
    }
}
@media only screen and (max-width:1280px) and (min-width:1024px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 64%;
        margin-right:0;
    }
    .right-content {
        width: 34.6%;
    }
    .bx-wrapper p {
        font-size: 13px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 4% 56%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 4% 56%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 15% 46%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 15% 46%;
    }
    .form-text-box textarea {
        width: 87.5%;
    }
    .form-text-box {
        width: 65.9%;
    }
    .pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:none;
    }
    .search-form input[type="text"] {
        width: 75%;
    }
    .navigation ul li a {
        padding: 0.9em 1.99em;
    }
}
@media only screen and (max-width:1024px) and (min-width:768px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 64%;
        margin-right:0;
    }
    .right-content {
        width: 34.6%;
    }
    .bx-wrapper p {
        font-size: 13px;
    }
    .bx-wrapper p small{
        display:none;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 4% 56%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 4% 56%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 15% 46%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 15% 46%;
    }
    .form-text-box textarea {
        width: 82.5%;
    }
    .form-text-box {
        width: 58.9%;
    }
    .pagenation ul li:nth-child(8),.pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:none;
    }
    .search-form input[type="text"] {
        width: 69%;
    }
    .navigation ul li a {
        padding: .9em 1.25em;
    }
    .status-people-pic {
        left: 31%;
    }
    .calender-left {
        width: 35%;
    }
    .cal-wather h2 {
        font-size: 2.5em;
    }
    .cal-wather span {
        top: 4%;
        right: 48%;
    }
    .calender-right {
        width: 65%;
    }
    .cal-wather p {
        width: 92%;
    }
    .form-btn {
        width: 36%;
    }
    .success-msg, .err-msg, .stand-msg {
        font-size: 0.8em;
    }
}
@media only screen and (max-width:768px) and (min-width:640px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 100%;
        margin-right:0;
    }
    .right-content {
        width: 100%;
        margin-top:1em;
    }
    .bx-wrapper p {
        font-size: 23px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 26% 62%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 26% 68%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 32% 62%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 32% 72%;
    }
    .form-text-box textarea {
        width: 91.4%;
    }
    .form-text-box {
        width: 60.9%;
    }
    .pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:block;
    }
    .search-form input[type="text"] {
        width: 86%;
    }
    .navigation ul li a {
        padding: .9em 1.77em;
    }
    .status-people-pic {
        left: 40%;
        top: 34%;
    }
    .calender-left {
        width: 35%;
    }
    .cal-wather h2 {
        font-size: 2.5em;
    }
    .cal-wather span {
        top: 4%;
        right: 76%;
    }
    .calender-right {
        width: 58%;
    }
    .cal-wather p {
        width: 92%;
    }
    .form-btn {
        width: 36%;
    }
    .success-msg, .err-msg, .stand-msg {
        font-size: 1em;
    }
    .start-left-content-colum1 {
        float: none;
        width:100%;
        margin-right: 0%;
        margin-bottom:1em;
    }
    .status-grid-head {
        height: 181px;
    }
    .status-grid {
        min-height: 367px;
    }
    .status-corrent ul li a {
        font-size:1em;
    }
    .chat-people-pic-grid {
        width: 14%;
    }
    .start-left-content-colum2 {
        float:none;
        width:100%;
    }
    .calender-left {
        width:42%;
        min-height:254px;
    }
}
@media only screen and (max-width:640px) and (min-width:480px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 100%;
        margin-right:0;
    }
    .right-content {
        width: 100%;
        margin-top:1em;
    }
    .bx-wrapper p {
        font-size: 23px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 26% 62%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 26% 68%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 32% 62%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 32% 72%;
    }
    .form-text-box textarea {
        width: 90.2%;
    }
    .form-text-box {
        width: 60.9%;
    }
    .pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:block;
    }
    .search-form input[type="text"] {
        width: 83%;
    }
    .navigation ul li a {
        padding: .9em 1.18em;
    }
    .status-people-pic {
        left: 40%;
        top: 34%;
    }
    .calender-left {
        width: 35%;
    }
    .cal-wather h2 {
        font-size: 2.5em;
    }
    .cal-wather span {
        top: 4%;
        right: 76%;
    }
    .calender-right {
        width: 58%;
    }
    .cal-wather p {
        width: 92%;
    }
    .form-btn {
        width: 36%;
    }
    .success-msg, .err-msg, .stand-msg {
        font-size: 1em;
    }
    .start-left-content-colum1 {
        float: none;
        width:100%;
        margin-right: 0%;
        margin-bottom:1em;
    }
    .status-grid-head {
        height: 181px;
    }
    .status-grid {
        min-height: 367px;
    }
    .status-corrent ul li a {
        font-size:1em;
    }
    .chat-people-pic-grid {
        width: 14%;
    }
    .start-left-content-colum2 {
        float:none;
        width:100%;
    }
    .calender-left {
        width:42%;
        min-height:254px;
    }
}
@media only screen and (max-width:480px) and (min-width:320px) {
    .wrap {
        width:90%;
    }
    .left-content {
        width: 100%;
        margin-right:0;
    }
    .right-content {
        width: 100%;
        margin-top:1em;
    }
    .bx-wrapper p {
        font-size: 14px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 13% 62%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 13% 62%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 23% 62%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #ECAE40 23% 72%;
    }
    .form-text-box textarea {
        width: 86.5%;
    }
    .form-text-box {
        width: 59.9%;
    }
    .pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:block;
    }
    .search-form input[type="text"] {
        width: 77%;
    }
    .navigation ul li a {
        padding: .9em 0.72em;
        font-size: 0.875em;
    }
    .status-people-pic {
        left: 36%;
        top: 27%;
    }
    .calender-left {
        width: 35%;
    }
    .cal-wather h2 {
        font-size: 2.5em;
    }
    .cal-wather span {
        top: 4%;
        right: 65%;
    }
    .calender-right {
        width: 58%;
    }
    .cal-wather p {
        width: 92%;
    }
    .form-btn {
        width: 36%;
    }
    .success-msg, .err-msg, .stand-msg {
        font-size: 1em;
    }
    .start-left-content-colum1 {
        float: none;
        width:100%;
        margin-right: 0%;
        margin-bottom:1em;
    }
    .status-grid-head {
        height: 155px;
    }
    /*.status-grid {*/
        /*min-height: 367px;*/
    /*}*/
    .status-corrent ul li a {
        font-size:1em;
    }
    .chat-people-pic-grid {
        width: 14%;
    }
    .start-left-content-colum2 {
        float:none;
        width:100%;
    }
    .calender-left {
        width:42%;
        min-height:254px;
    }
}
@media only screen and (max-width:320px) and (min-width:240px) {
    .wrap {
        width:90%;
        margin: 2em auto;
    }
    .left-content {
        width: 100%;
        margin-right:0;
        float: none;
    }
    .right-content {
        width: 100%;
        margin-top:1em;
        float: none;
    }
    .bx-wrapper p {
        font-size: 14px;
    }
    .download {
        background: url(../images/download-arrow.png) no-repeat #F13D6D 13% 62%;
    }
    .download:hover{
        background: url(../images/download-arrow.png) no-repeat #E63C6A 13% 62%;
    }
    .upload {
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 23% 62%;
    }
    .upload:hover{
        background: url(../images/upload-arrow.png) no-repeat #FFBB41 23% 62%;
    }
    .form-text-box textarea {
        width: 87.8%;
    }
    .form-text-box {
        width:100%;
        float:none;
        margin:0 0 1em 0;
    }
    .pagenation ul li:nth-child(7),.pagenation ul li:nth-child(8),.pagenation ul li:nth-child(9),.pagenation ul li:nth-child(10){
        display:none;
    }
    .search-form input[type="text"] {
        width: 65%;
    }
    .navigation ul li a {
        padding: .9em 0.72em;
        font-size: 0.875em;
    }
    .status-people-pic {
        left: 31%;
        top: 24%;
    }
    .calender-left {
        width: 35%;
    }
    .cal-wather h2 {
        font-size: 2.5em;
    }
    .cal-wather span {
        top: 4%;
        right: 25%;
    }
    .calender-right {
        width: 70%;
    }
    .cal-wather p {
        width: 92%;
    }
    .form-btn {
        width: 100%;
        float:none;
        margin-right:0;
    }
    .success-msg, .err-msg, .stand-msg {
        font-size: 1em;
    }
    .start-left-content-colum1 {
        float: none;
        width:100%;
        margin-right: 0%;
        margin-bottom:1em;
    }
    .status-grid-head {
        height: 132px;
    }
    .status-grid {
        min-height: 298px;
    }
    .status-corrent ul li a {
        font-size: 0.7em;
    }
    .chat-people-pic-grid {
        width: 14%;
    }
    .start-left-content-colum2 {
        float:none;
        width:100%;
    }
    .calender-left {
        width: 30%;
        min-height: 253px;
    }
    .navigation ul li {
        float:none;
        display:block;
    }
    .navigation ul li:nth-child(1) a {
        border-radius: 0.5em 0.5em  0 0;
        -webkit-border-radius: 0.5em 0.5em  0 0;
        -moz-border-radius: 0.5em 0.5em  0 0;
        -o-border-radius: 0.5em 0.5em  0 0;
    }
    .navigation ul li:nth-child(6) a {
        border-radius: 0 0 0.5em 0.5em;
        -webkit--border-radius: 0 0 0.5em 0.5em;
        -moz-border-radius: 0 0 0.5em 0.5em;
        -o-border-radius: 0 0 0.5em 0.5em;
    }
}
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

.col-xs-2 a.btn.icon-btn.btn-muted{
    background-color: #b0274082;
}


/*.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }*/
 /*.MultiCarousel-inner { transition: 1s ease all; float: left; }*/
 /*.MultiCarousel-inner .item { float: left;}*/
 .MultiCarousel-inner .item > div {
     /*text-align: center;*/
     padding:10px;
     margin:10px;
     background:#f1f1f1;
     color:#666;}
 .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }


 .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.carousel-cell.is-selected {
    background: rgba(238, 221, 34, 0.29);
}



.carousel-cell {
    width: 66%;
    height: 350px;
    margin-right: 10px;
    background: rgba(136, 204, 136, 0.31);
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.carousel-cell h4 {
color: #565656;
font-weight: 600;
font-size: 1.2em;
/* margin: 0.5em 0 0; */
}
/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    /*content: counter(carousel-cell);*/
    line-height: 200px;
    font-size: 80px;
    color: white;
}

