version: '3'

networks:
  traefik:
    external: true

services:

  ecom_franck:
    build:
      context: .
      dockerfile: Dockerfile
    container_name : ecom_franck
    networks:
      - traefik
    labels:
      - 'traefik.enable=true'
      - "traefik.frontend.rule=Host:franckshop.fbclol.fr"
      - "traefik.port=80"
      - "traefik.backend=ecom_franck"
      - "traefik.frontend.entryPoints=http,https"
      - "traefik.docker.network=traefik"
